<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>新規作成</title>
</head>
<body>
<form th:method="post" th:action="@{./}" th:object="${chatCreateForm}">
    <div>
        <label>
            名前：<input type="text" th:field="*{content}"/>
        </label>
    </div>
    <div>
        <label>
            メッセージ：<input type="text" th:field="*{message}"/>
        </label>
    </div>
    <div>
        <input type="submit" value="作成"/>
    </div>
</form>
</body>
</html>